/************************************************************************************
COLUMN
*************************************************************************************/
.pagewrap {
	width: 1100px;
	max-width: 96%;
	margin: 0 auto;
}

.fluid {
	float: left;
	margin-left: 3.2%;
	margin-bottom: 0;
}
	article div.col { padding: 0; display: block; }
	.one { width: 16% !important; }
	.two { width: 60.6% !important; }
	
	.three { width: 17% !important; }

	.two-about { width: 76.8% !important; }  .two-features { width: 76.8% !important; } 
	.three-about { width: 20% !important; }
	
	.two-shop-s { width: 48.6% !important; }
	.three-shop-s { width: 29% !important; }

.fullwidth .fluid {
	float: none;
	margin-left: 0;
}
/* grid4 col */
.grid4 .fluid {
	width: 22.6%;
}
/* grid3 col */
.grid3 .fluid {
	width: 31.2%;
}
/* grid2 col */
.grid2 .fluid {
	width: 48.4%;
}
/* clear col */
.grid4 .fluid:nth-of-type(4n+1),
.grid3 .fluid:nth-of-type(3n+1),
.grid2 .fluid:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* reset cols to 3-column --- landscape ipad*/ 
@media only screen and (max-width: 1024px) {
	
	body { background-color: #fff; }
	
	.nav a { font-size: 1em !important; }
	.logo { 
			text-align: left;
			margin: 0px 0 0 0;
			padding-left: 5%;
			position: absolute;
			z-index: 100px;
			display: block;
			left: 0%;
			float: left;
		}
	.top-links {padding: 1em 0 0 0; }
	.registry-links {padding: 0.7em 0 0 0; }
	.account-links {padding: 0.7em 0 1.5em 0; }
	#global { margin-top: 2em; }

	.grid3 .fluid {
		width: 31.2% !important;
	}
	.grid2 .fluid {
		width: 100% !important; text-align: right; float: right;
	}
	
	.footlinks li { display: none; } #disclaimer { display: none; }
 	.fcenter { margin: 0 auto; text-align: center; }
	.sept { border-top: 0; margin-top: 0;}
	#global {
		border: 0;
		padding: 0;
	}

}

/* reset cols to 2-column --- portrait ipad*/
@media only screen and (max-width:768px) {
	
	
	
	/* grid3 */
	.grid3 .fluid {
		width: 31.2%; 
	}
	
	.footlinks li { width: 100% !important; }


}
/* --- portrait iphone */
@media only screen and (max-width: 480px) {
	
	#navigation { top: 0; position: absolute; width: 90%; margin: 0; padding: 0; }
	#navigation .container { border: 0; }
	.nav li { border-top: 1px solid #ededed; } .nav li li { border-top: 0 !important; }
	.nav li a:hover {
		background-color: #f8f8f8; -webkit-transition:0.8s ease;-moz-transition:0.3s ease;-ms-transition:0.3s ease;-o-transition:0.3s ease;transition:0.3s ease;
	}

	.grid3 .fluid {
		width: 100% !important; 
	}
	.search, .registry-links, .account-links, .top-links { text-align: center; }
	.logo { 
			text-align: center;
			margin: -18em 0 0 0;
			position: absolute;
			z-index: 100px;
			display: block;
			right: 50%;
			width: 90%;
		}
	.logo img {
				margin-right: 0;
			}
	#global { padding-top: 18em; }
	
	.intext2 { margin: 0.5em 0 0.5em 0; width: 200px;}
	.social img { margin-top: 0.3em; }
	.marb { margin-bottom: 2em; }

	.fluid {
		width: 100% !important;
		margin-left: 0 !important;
		clear: none !important;
	}
